.btn {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    padding: 13px 17px;
    border: none;
    border-radius: $border-radius;
    transition: all 0.3s $easing;

    &:hover {
        cursor: pointer;
    }
}

.btn-block {
    display: block;
    padding: 13px 32px;
}

.btn-lg {
    padding: 14px 26px;
    font-size: 1.1em;
}

.btn-primary {
    color: $white;
    background: $main-color;

    &:hover {
        color: $white;
        background: $main-color-hover;
    }
}

.btn-white {
    display: inline-block;
    border: 2px solid $white;
    border-radius: $border-radius;
    padding: 7px 16px;
    color: $white;

    &:hover {
        color: $white;
    }
}

#explore-btn {

    overflow: hidden;
    position: relative;

    i {
        display: inline-block;
        position: absolute;
        top: 4px;
        font-size: 28px;
        transform: translateX(-50px) rotate(45deg) ;
        transition: transform .2s ease .1s;
    }

    span {
        display: inline-block;
        transition: transform .3s;
    }

    &:hover {

        border-color: $white;
        color: $white;
        i {
            transform: translateX(50px) rotate(45deg);
        }
        span {
            transform: translateX(200px);
        }
    }
    &:focus {
        i {
            animation: rocket 1s ease forwards;
        }
    }

}

@keyframes rocket {
    from   {transform: translateX(50px) rotate(45deg); }
    to     {transform: translateX(200px) rotate(45deg); }
}
