.btn {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    padding: 13px 17px;
    border: none;
    border-radius: $border-radius;
    transition: all 0.3s $easing;

    &:hover {
        cursor: pointer;
    }
}

.btn-block {
    display: block;
    padding: 13px 32px;
}

.btn-lg {
    padding: 14px 26px;
    font-size: 1.1em;
}

.btn-primary {
    color: $white;
    background: $main-color;

    &:hover {
        color: $white;
        background: $main-color-hover;
    }
}

.btn-white {
    display: inline-block;
    border: 2px solid $white;
    border-radius: $border-radius;
    padding: 7px 16px;
    color: $white;

    &:hover {
        color: $white;
    }
}
