.card {
    width: 100%;
    height: 100%;
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius-2;
    transition: all 0.5s ease;

    &:hover {
        box-shadow: $box-shadow-2;

        .card-title h3 {
            color: $main-color;
        }
    }
}

.card-image {
    width: 100%;
    height: 290px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-content {
    width: 100%;
    height: calc(100% - 290px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 18px;

    h3 {
        margin: 0;
        line-height: 1.5;
        transition: all 0.3s $easing;
    }
}

.card-infos {
    display: flex;
    flex-direction: row;
}

.card-reactions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .card-reaction:last-child {
        margin-right: 0px;
    }
}

.card-reaction {
    margin-right: 10px;
    font-size: 1.06em;
    color: $grey;

    i {
        color: $main-color;
    }
}

.card-author {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.card-author-picture {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.card-author-details {
    display: flex;
    flex-direction: column;
}

.card-author-name {
    font-size: 1.04em;
    font-family: $heading-font;
    color: $black-2;
}

.card-date {
    color: $grey;
}
