.jumbotron {
    background-color: $black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    color: $white;
    margin-bottom: 0px;
    position: relative;

    .title {
        max-width: 800px;
        color: $white;
        font-size: 2.5em;
        margin-top: 8px;
        margin-bottom: 14px;
    }

    .subtitle {
        font-family: $heading-font;
        text-transform: uppercase;
        font-size: 0.9em;
        color: $main-color;
    }

    .facts-actions {
        display: flex;
    }

    .facts {
        display: flex;
        padding-left: 0;

    }

    .fact {
        list-style: none;
        display: flex;
        margin: 0 32px 0 0;
        align-items: center;
        flex-direction: row;
    }

    .fact-important {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        font-size: 0.8em;
        border-radius: 50%;
        margin-right: 8px;
        background: $gradient;
    }
}

.jumbotron-content {
    z-index: $zindex-2;
    padding: 40px;
    background: linear-gradient(to top, black, transparent);
    width: 100%;
}

.jumbotron-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.single-jumbotron {
    height: 70vh;
}

.jumbotron-actions {
    position: absolute;
    bottom: 40px;
    right: 40px;

    ul {
        li {
            display: inline-block;
            list-style: none;
            margin-left: 10px;

            a {
                display: inline-block;
                border: 2px solid $white;
                border-radius: $border-radius;
                padding: 7px 16px;
                color: $white;
            }
        }

        li.jumbotron-actions-share {
            a {
                padding: 0px;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
