.search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.96);
    z-index: $zindex-5;
    transform: translateY(-100%);
    will-change: transform;
    transition: all 0.4s $easing;

    .search-content {
        pointer-events: none;
    }
}

.search-active {
    .search-content {
        pointer-events: all;
    }
}

.search-active {
    transform: translateY(0%);
    transition: all 0.6s $easing;
}

.search-close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: $zindex-5;
    color: $white;
    font-size: 1.2em;
}

.search-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 40px;
}

.search-input {
    position: absolute;
    top: 30px;
    right: 0;
    left: 30px;
    z-index: $zindex-4;

    input[type="search"] {
        display: block;
        width: 100%;
        background: transparent;
        -webkit-appearance: textfield;
        outline: 0;
        border: none;
        padding: 60px 30px;
        color: $white;
        font-size: 3em;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
}

.search-results {
    width: 100%;
    padding-top: 140px;
    overflow-y: scroll;
    padding-left: 30px;
    height: calc(100vh - 40px);

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            transform: translateX(30px);
            opacity: 0;
        }

        @for $i from 1 to 100 {
            li:nth-child(#{$i}) {
                animation-name: translate;
                animation-duration: 0.3s;
                animation-timing-function: $easing;
                animation-fill-mode: forwards;
                animation-delay: #{($i * 0.1) + 0.15}s;
            }
        }
    }
}

.search-item {
    padding: 30px;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 20px;
    color: $white;
}

.search-link {
    width: 100%;

    &:hover {
        .search-picture {
            background-size: 140%;
        }

        .search-title {
            color: $main-color;
        }
    }
}

.search-picture {
    width: 100%;
    height: 210px;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s $easing;
    will-change: background-size;
}

@media screen and (min-width: $wide-desktop) {
    .search-picture {
        height: 250px;
    }
}

.search-title {
    color: $white;
    line-height: 1.6;
    font-size: 1.2em;
    margin: 25px 0px 0px 0px;
    transition: color 0.5s $easing;
}

.search-date {
    color: $white;
    font-size: 1em;
    margin: 10px 0px 0px 0px;
}

@keyframes translate {
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media screen and (max-width: $tablet) {
    .search-item {
        width: 100%;
    }
}
