.section {
    padding: 60px 0px 20px 0px;
}

.section-title {
    padding-left: 20px;
    font-size: 1.4em;

    b {
        color: $main-color;
        font-weight: 400;
    }
}

.section-grid {
    display: flex;
    flex-wrap: wrap;
}

.section-grid-item {
    display: flex;
    padding: 20px;
    width: 100%;

    & > a {
        display: inline-block;
        width: 100%;
    }
}

.section-grid-item-6 {
    width: 50%;
}

.section-grid-item-4 {
    width: 33.33%;
}

@media screen and (max-width: $tablet) {
    .section-grid-item-6, .section-grid-item-4 {
        width: 100%;
    }
}
