.profile {
    width: 100%;
    margin-top: 110px;
}

.profile-card {
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius-2;
    padding: 30px;
    margin-bottom: 14px;
}

.profile-presentation {
    @extend .profile-card;

    .profile-picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        background-size: cover;
        background-position: center;
    }

    h1 {
        text-align: center;
        font-size: 1.3em;
    }

    .profile-description {
        font-size: 0.96em;
        line-height: 1.618;
        color: $black-2;
    }
}

.profile-stats {
    @extend .profile-card;

    ul.stats {
        padding-left: 0;
        margin: 0;

        li {
            font-size: 0.96em;
            list-style-type: none;
            line-height: 2;


            .number {
                color: $main-color;
                font-weight: bold;
                font-family: $heading-font;
            }
        }
    }
}

.profile-content {
    margin-bottom: 40px;

    h2 {
        margin-top: 0;
        color: $main-color;
        font-weight: bold;
    }

    .profile-rewards {
        @extend .profile-card;

        .rewards {
            display: flex;
            flex-wrap: wrap;
        }

        .reward {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            width: 33.33%;

            .reward-picture {
                filter: grayscale(0.9);
            }

            &.active {
                .reward-picture {
                    filter: grayscale(0);
                }
            }
        }

        .reward-picture {
            width: 70px;
            height: auto;
        }

        .reward-title {
            margin: 14px 0px 2px 0px;
        }

        .reward-description {
            margin: 0;
        }
    }

    .profile-questions {
        @extend .profile-card;
    }

    .profile-answers {
        @extend .profile-card;
    }
}

.profile-score {
    display: flex;
    align-items: center;
    color: $black-2;
    font-weight: bold;
}

.profile-icon {
    width: 34px;
    height: auto;
    margin-right: 6px;
}

.profile .single-question-infos,
.profile .single-answer-user {
    align-items: center;
}
