{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron" style="background-image: url('{{ url('uploads/' ~ last_post.media_hd) }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="container">
            <h1 class="display-3">{{ last_post.title }}</h1>
            <p>{{ last_post.description }}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for post in posts %}
                {% if post == posts[0] %}
                {% else %}
                    {{ post.title }}
                {% endif %}
            {% endfor %}
        </div><!--/row-->
    </div>

{% endblock %}
