{% extends 'layouts/index.twig' %}

{% block content %}

    <div class="jumbotron" style="background-image: url('{{ url('uploads/' ~ last_post.url_hd) }}');">
        <div class="container">
            <span class="subtitle">Astronomic picture of the day</span>
            <h1 class="title">{{ last_post.title }}</h1>
            <ul class="facts">
                <li class="fact"><span class="fact-important">130</span> loves</li>
                <li class="fact"><span class="fact-important">220</span> question</li>
                <li class="fact"><span class="fact-important">343</span> answers</li>
            </ul>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Explore this case</a></p>
        </div>
    </div>

    <div class="hero">
        <div class="container">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Latest pictures of the day</h2>

        <div class="row">
            {% for post in posts %}
                {% if post == posts[0] %}
                {% else %}
                    <div class="col-md-4">
                        <h3>{{ post.title }}</h3>
                        <a class="btn btn-secondary" href="{{ url('picture-of-the-day/' ~ post.id) }}" role="button">View details »</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div><!--/row-->
    </div>

{% endblock %}
