.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 30px;
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;
    z-index: $zindex-4;
    transition: all 0.4s $easing;
}

.header-home {
    background-color: transparent;
}

.header-scrolled {
    background-color: $black;
    padding: 20px 30px;
}

.header-global {
    padding: 10px 30px;
}

.header-logo {
    padding-right: 20px;

    img {
        width: 58px;
        height: auto;
    }
}

.header-toggle {
    a {
        color: $white;
        font-size: 1.6em;
    }
}

@media screen and (max-width: $tablet) {
    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-color;
        background: $gradient;
        z-index: $zindex-5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateX(100%);
        will-change: transform;
        transition: transform 0.3s $easing;
    }
}

.header-nav-active {
    transform: translateX(0%);
}

.header-nav-close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $white;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
    padding: 12px 0px;
    text-align: center;
}

.nav-link {
    font-size: 1.4em;
    color: $white;
}

.header-nav-picture {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.dropdown-menu {
    pointer-events: none;
    transform: translateX(30px);
    padding-top: 10px;
    opacity: 0;
    transition: all 0.3s $easing;
}

.dropdown-toggle-active + .dropdown-menu {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 1;
}

.notifications-link {
    position: relative;

    &:hover {
        color: $white;
    }
}

.dropdown-notifications {
    min-width: 240px;
    max-height: 330px;
    overflow-y: scroll;
}

.notifications-count {
    position: absolute;
    top: -4px;
    left: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4em;
}

@media screen and (min-width: $tablet) {
    .header {
        align-items: center;
    }

    .header-scrolled {
        background-color: $black;
        padding: 10px 30px;
    }

    .header-toggle {
        display: none;
    }

    .header-nav {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-nav-close {
        display: none;
    }

    .nav {
        height: 100%;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            .nav-item:last-child {
                margin-right: 0px;
            }
        }
    }

    .nav-item {
        display: inline-block;
        margin-right: 14px;
    }

    .nav-link {
        font-size: 1.04em;

        i {
            font-size: 1.14em;
        }
    }

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background: $white;
        padding-top: 0px;
        border-radius: 4px;
        text-align: left;
        box-shadow: $box-shadow-2;
    }

    .dropdown-item {
        width: 100%;
        padding: 14px 18px;
        color: $black;

        &:hover {
            background: $white-2;
        }
    }

    a.dropdown-item {
        display: block;
    }
}
