.nav-link.dropdown-toggle.user-settings {
    display: inline-block;
    width: 46px;
    height: 46px;

    img {
        display: inline-block;
        width: calc(100% - 0.3em);
        height: auto;
        border-radius: 50%;
    }

    &:after {
        float: right;
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
    }
}
